<h2>Show article</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @article.title %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @article.user %>
  </li>

</ul>

<%= link "Back", to: article_path(@conn, :index) %>